body {
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(20, 194, 194);
    color: white;
}

#logo-image {
    background-image: url("images/Untitled.png") no-repeat;
    height: 200px;
    width: 200px;
}
